body {

    background-color: grey;
    color : black;
    font-family: 'Courier New', Courier, monospace,'Times New Roman', Times, serif;
    font-weight: 200;
}

h1{
    font-weight: 100;
    font-size: 70px;
    text-transform: uppercase;
    border-top: 5px solid;
    }

p{
    font-size: 20px;
    color: firebrick;
    text-align: justify;
}

img{
    height: 250px;
    border-radius: 30%;

}

#container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{

    margin: 3px auto;
    padding: 20px 25px;
    background-color: yellow;
    color: black;
    font-size: 18px;
    text-align: center;
    border: 3px solid white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
}

button:hover{

    transition: 0.4s;
    background-color: yellowgreen;
    color: brown;
    text-decoration: underline;
}